log_format: console
log_level: info

package:
  oci_concurrency: 6
  deploy:
    retries: 3
    timeout: 900000000000
    components: zarf-injector,zarf-seed-registry,zarf-registry,zarf-agent
    set:
      REGISTRY_PVC_ENABLED: "false"
      REGISTRY_CREATE_SERVICE_ACCOUNT: "true"
      REGISTRY_SERVICE_ACCOUNT_NAME: "docker-registry-sa"
      REGISTRY_HPA_AUTO_SIZE: "true"
      REGISTRY_EXTRA_ENVS: |-
        - name: REGISTRY_STORAGE
          value: s3
        - name: REGISTRY_STORAGE_S3_REGION
          value: "us-east-1"
        - name: REGISTRY_STORAGE_S3_BUCKET
          value: "zarf-registry"
        - name: REGISTRY_STORAGE_S3_ENDPOINT
          value: "http://minio.uds-dev-stack.svc.cluster.local:9000"
        - name: REGISTRY_STORAGE_S3_REGIONENDPOINT
          value: "http://minio.uds-dev-stack.svc.cluster.local:9000"
        - name: REGISTRY_STORAGE_S3_ACCESSKEY
          value: "zarf-registry"
        - name: REGISTRY_STORAGE_S3_SECRETKEY
          value: "zarf-registry-secret"
        - name: REGISTRY_STORAGE_S3_SECURE
          value: "false"
        - name: REGISTRY_STORAGE_S3_V4AUTH
          value: "true"
        - name: REGISTRY_STORAGE_S3_PATHSTYLE
          value: "true"
        - name: REGISTRY_STORAGE_S3_FORCEPATHSTYLE
          value: "true"
        - name: REGISTRY_STORAGE_REDIRECT_DISABLE
          value: "true"
